<div class="col-md-6 col-md-offset-3">

<h2 id="blog-title"><%= @listing.title %></h2>
<h3 id="signature"><%= @listing.author %></h3>
<h4><a href="<%= @listing.original_link %>" target="_new">Visit Original Blog Post</a></h4>
<a href="https://www.facebook.com/sharer/sharer.php?u=http://bengreenberg.herokuapp.com/blog/show/<%= @listing.id %>" target="_blank"><img src="/images/facebook-icon.png" width="60"></a>
<a href="https://twitter.com/home?status=Check%20out%20this%20blog%20post%20http://bengreenberg.herokuapp.com/blog/show/<%= @listing.id %>" target="_blank"><img src="/images/twitter-icon.png" width="60"></a>
<br>
<div class="col-md-12 blog-listing">

<p id="blog-content"><%= @listing.content.gsub(/\n/, '<br/>') %></p>
</div>

</div> <!-- close col-md-6 col-md-offset-3 -->
