<h2 id="page-title">Update Video Post</h2>

<div class="input-group input-group-lg">
  <form action="/admin/videos/edit/<%= @video.id %>" method="POST">

  <div class="form-group form-group-lg">
    <label name="title"><input type="text" class="form-control input-lg" value="<%= @video.title %>" name="title" aria-describedby="sizing-addon1" placeholder="Video Title"></label><br>
  </div>

  <div class="form-group">
    <label name="image"><input type="text" class="form-control input-lg" value="<%= @video.image %>" placeholder="Image Link" name="image" aria-describedby="sizing-addon1"></label><br>
  </div>

  <div class="form-group">
    <label name="url"><input type="text" class="form-control input-lg" placeholder="Link to location" name="url" aria-describedby="sizing-addon1"></label><br>
  </div>

  <div class="form-group form-group-lg">
    <label name="tags"><input type="text" class="form-control input-lg" value="<%= @video.tags %>" name="tags" aria-describedby="sizing-addon1" placeholder="Video Tags"></label><br>
  </div>

  <div class="form-group">
    <label name="publish" color="white"><p id="form-label">Publish or Draft?</label><select name="publish" class="form-control input-lg"><br>
  <option value="<%= @video.publish %>"><%= @video.publish %></option>
  <option value="true">Publish It</option>
  <option value="false">Draft</option>
  </select><br>
  </div>

  <div class="form-group">
  <label name="submit"><input type="submit" value="Submit" class="btn btn-default"></label>
  </div>

  </form>
  </div>

  <div class="input-group input-group-lg">
      <form method="post" action="/videos/delete/<%=@video.id%>">
        <div class="form-group">
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete" class="btn btn-default">
        </div>
      </form>
      </div>
